.header{
    background-color: rgb(173, 230, 184);
    height: 60px;
    padding-top: 15px;
    font-weight: 800;
    font-size: 23;
    width: 100%;
}
.note{
    background-color: rgb(230, 187, 173);
    width: 38%;
    height: 150px;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px;
}
.word{
    font-size: 18px;
    font-weight: 800;
}
canvas{
    margin-top: 150px;
    border-radius: 20px;
}